    <div class="container">
      <div class="row">
        <div class="col-md-2">{{ footer_1 }}</div>
        <div class="col-md-3">{{ footer_2 }}</div>
        <div class="col-md-3">{{ footer_3 }}</div>
        <div class="col-md-4 newsletter">{{ footer_4 }}</div>
      </div>
      <div class="bottom">
        <ul>
          <li><a href="#">&copy; Copyright {{"now"|date('Y')}} {{ site.name }}</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Language</a></li>
        </ul>
      </div>
    </div>