{% if menu %}
	<ul class="navbar-nav">
	{% for item in menu %}
    {% set submenu = item.get_children %}
		<li class="{{ item.classes | join(' ') }} nav-item active{% if submenu %} dropdown{% endif %}">
      {% set classes = ( submenu )? 'nav-link dropdown-toggle' : 'nav-link' %}
			<a class="{{ classes }}" target="{{ item.target }}" href="{{ item.link }}"{% if submenu %} data-toggle="dropdown"{% endif %}>
        {{ item.title }}
        {% if submenu %}
          <i class="ion-chevron-down"></i>
        {% endif %}
      </a>
      {% if submenu %}
        {% set args = ( item.link != '#' )? { 'menu': item.get_children, 'parentlink': item.link, 'parenttitle': item.title ~ ' Overview' } : { 'menu': item.get_children } %}
        {% include "partial/dropdown.twig" with args %}
      {% endif %}
		</li>
	{% endfor %}
  {% if cart.count is defined %}
    <li class="nav-item"><a class="nav-link" href="/cart"><i class="ion-ios-cart" style="font-size: 16px; float: left; margin: -2px 8px 0 0;"></i> Cart ({{ cart.count }})</a></li>
  {% endif %}
	</ul>
{% endif %}