{% extends "base.twig" %}


{% block header %}
  {% if post.content is not empty %}
    {% set featureimage = ( post.thumbnail.src('full') ) ? post.thumbnail.src('full') : fn('get_stylesheet_directory_uri') ~ '/images/unsplash/michael-benz-189971.jpg' %}
    <div class="business-hero" style="background-image: url({{ featureimage }})">
        <div class="container">
          {{ post.content }}
        </div>
    </div>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}


{% block content %}
  {% if modules %}
    {% for module in modules %}
      <div class="modular{% if module.class %} {{ module.class }}{% endif %}"{% if module.style %} style="{{ module.style }}"{% endif %}>
        <section class="container">
          {{ module.content }}
        </section>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}