{% extends "base.twig" %}

{% block header %}
  {% if page_header and page_header.type is not empty %}
    {% if 'background_image' == page_header.type %}
      <div class="business-hero" style="background-image: url({{ page_header.background }})">
          <div class="container">
            {{ page_header.content }}
          </div>
      </div>
    {% elseif 'background_gradient' == page_header.type %}
      <div class="index-header">
        <section class="container">
          {{ page_header.content }}
        </section>
      </div>
    {% elseif 'video_background' == page_header.type %}
      <div class="homepage-hero-module">
        <div class="video-container">
          <div class="homepage-hero-content">
            {{ page_header.content }}
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if modules %}
    {% for module in modules %}
      <div id="module-{{ loop.index }}" class="modular{% if module.attributes.classes %} {{ module.attributes.classes }}{% endif %}"{% if module.attributes.styles %} style="{{ module.attributes.styles }}"{% endif %}>
        {% if 'full-width' not in module.attributes.classes %}<section class="container">{% endif %}
          {{ module.content }}
        {% if 'full-width' not in module.attributes.classes %}</section>{% endif %}
        {% if module.edit_link %}<a class="edit-module btn btn-primary btn-sm" href="{{ module.edit_link }}" target="_blank">Edit <i class="entypo-popup"></i></a>{% endif %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}