{% extends "base.twig" %}

{% block header %}
  {% if page_header %}
    {% if 'background_image' == page_header.type %}
      <div class="business-hero" style="background-image: url({{ page_header.background }})">
          <div class="container">
            {{ page_header.content }}
          </div>
      </div>
    {% elseif 'background_gradient' == page_header.type %}
      <div class="index-header">
        <section class="container">
          {{ page_header.content }}
        </section>
      </div>
    {% endif %}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if modules %}
    {% for module in modules %}
      <div class="modular{% if module.class %} {{ module.class }}{% endif %}"{% if module.style %} style="{{ module.style }}"{% endif %}>
        <section class="container">
          {% if module.content_block %}
            {{ module.content_block }}
          {% else %}
            {{ module.content }}
          {% endif %}
        </section>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}