
  <a href="{{ post.link }}" class="post">
    <div class="post-wrapper">
      <div class="post-bg" style="{% if post.thumbnail %}background: #00aaec url('{{ post.thumbnail.src('blogthumbnail') }}') no-repeat;{% endif %}">
      </div>
      <div class="post-intro">
        <div class="post-title">
          {{ post.title | excerpt(3) }}
        </div>
        <div class="post-min-read">
          {{ reading_time(post.content) }} read
        </div>
        <p class="post-description">
          {{ post.content | excerpt(10) }}
        </p>
      </div>
    </div>
  </a>
